body {
  height: 100vh;
}

.carousel-caption {
  /* bottom: 8.25rem; */
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.carousel-caption h2 {
  font-size: 45px;
  font-weight: bold;
}
section {
  padding: 60px 0;
}
